.div-body {
  height: 100%;
  background-image: url('../img/bkg01.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  .div-login {
    display: inline-block;
    width: 300px;
    position: absolute;
    top: 200px;
    right: 200px;
    padding: 20px 40px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    .form-item-title {
      text-align: left;
      border-bottom: 1px solid #82767663;
      .span-title {
        font-size: 24px !important;
      }
    }
    .el-form-item{
      margin-bottom: 30px;
      i {
        font-size: 12px;
      }
      .el-button {
        font-size: 18px;
        width: 300px;
        box-shadow: 2px 2px 5px 0 #3a8ee6;
      }
      .input-verify-code {
        float: left;
        display: inline-block;
        width: 180px;
      }
      #verify {
        width: 100px;
        height: 40px;
      }
    }
  }
}
